* { margin:0; padding:0; }

#newsticker-demo { 
width:310px; 
background:white;
border-style:1px;
padding:5px 5px 0; 
font-family:Tahoma;
font-size:11px;
margin:20px auto;
}

#newsticker-demo a { text-decoration:none; }
#newsticker-demo img { border: 2px solid #FFFFFF; }

#newsticker-demo .title {
text-align:center;
font-size:14px;
font-weight:bold;
padding:5px;
}

.newsticker-jcarousellite { width:300px; }
.newsticker-jcarousellite ul li{ list-style:none; display:block; height: 40px; padding-bottom:2px; margin-bottom:5px; }
.newsticker-jcarousellite .thumbnail { float:left; width:50px; }
.newsticker-jcarousellite .info { float:left; width:190px; }
.newsticker-jcarousellite .info span.cat { display: block; font-size:10px; color:#808080; }

.clear { clear: both; }
